* {
  z-index: 2;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #343838;
}
body {
  background-color: lightgray;
  font-family: sans-serif;
  width: 100%;
  padding: 2em 0em;
  position: relative;
  --animation-time-normal: 1500ms;
  --animation-time-fast: 500ms;
  --animation-time-fast-2: 100ms;
  --animation-time-normal-2: 1000ms;
}

@keyframes message {
  0% {
    transform: translateY(-100px) scale(0);
  }
  50% {
    transform: translateY(0px)
  }
  75% {
    transform: translateY(-20px)
  }
  85% {
    transform: translateY(0px) scale(1);
  }
  95% {
    transform: translateY(-10px)
  }
  100% {
    transform: translateY(0px)
  }
}
.message__error {
  position: fixed;
  top: 10px;
  left: 50px;
  background-color: #e20425;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 25em;
  height: 10em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: message var(--animation-time-fast) ease-out;
}
.message__error--success {
  background-color: #0b8213;
}

@keyframes message_hidden {
  from {
    opacity: 1;
    transform: translateY(0px)
  }
  to {
    opacity: 0;
    transform: translateY(-200%)
  }
}
.message__error--hidden {
  transform: translateY(-200%);
  animation: message_hidden var(--animation-time-fast) ease-out;
}

@media (min-width: 992px) {
  body {
    padding: 1em 2em;
  }


.message__error {
  font-size: .8em;
  width: 20em;
  height: 5em;
}
}

/*Estilos del autor YOP*/
.author {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.author__me {
  order: 3;
  width: 70%;
  margin-top: 2em;
}
.author__me__card {
  width: 100%;
  display: flex;
  justify-content: center;
}
.author__me__card img {
  max-width: 6rem;
  max-height: 6rem;
  border: solid 5px darkgray;
}
.author__me__card__details {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.author__me__card__details span {
  width: 100%;
  display: block;
  word-wrap: wrap;
  text-align: center;
  font-size: 1.2em;
  padding: 0.2em;
}
.author__me__card__details > a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.author__me__card__details > a:hover {
  text-decoration: underline;
}
.author__me__card__details__link {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
  text-transform: uppercase;
  transition: background-color var(--animation-time-fast) ease-out;
}
.author__me__card__details__link:hover {
  background-color: #3d3a3f;
  color: white;
}
.author__school {
  order: 1;
  width: 40%;
  display: flex;
  justify-content: center;
}
.author__school a {
  width: 12rem;
  height: 5rem;
  overflow: hidden;
}
.author__school img {
  max-width: 100%;
}
.author__subject {
  order: 2;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author__subject img {
  max-width: 8rem;
  max-height: 6rem;
  border: solid 5px darkgray;
}
.author__subject__link {
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
}
.author__subject__link:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .author {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .author__me {
    order: 1;
    width: 40%;
    margin-top: 0em;
  }

  .author__school {
    order: 2;
    width: 40%;
  }

  .author__subject {
    order: 3;
    width: 40%;
  }

.author__me__card__details span {
  font-size: 0.9em;
}
.author__me__card__details__link {
  font-size: 0.8em;
}
}

/*Estilos de Content*/
.content {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/*Estilos de Content Header*/
.content__header {
  display: flex;
  justify-content: center;
}
.content__header h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 1em 0em;
}

/*Estilos de Content Data*/
.content__data {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0em;
}
.content__data__element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 16rem;
  overflow: hidden;
  margin-bottom: 1em;
}
.content__data__element h3 {
  width: 100%;
  font-weight: normal;
  font-size: 1.6em;
  font-style: italic;
  padding-bottom: 0.5em;
  text-align: center;
}
.content__data__element__box {
  position: relative;
  width: 20em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__data__element__box__atomic-number--header,
.content__data__element__box__letter--header,
.content__data__element__box__atomic-mass--header {
  position: absolute;
  width: 6em;
  text-align: center;
  display: block;
  font-size: 1.1em;
  left: 12em;
  color: #343838;
  text-transform: uppercase;
}
.content__data__element__box__letter--header {
  left: 0px;
}
.content__data__element__box__atomic-number--header {
  top: -20px;
}
.content__data__element__box__atomic-mass--header {
  bottom: -10px;
}

.content__data__element__box__letter,
.content__data__element__box__atomic-mass,
.content__data__element__box__atomic-number {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  border: solid 3px darkgrey;
}
.content__data__element__box__atomic-mass,
.content__data__element__box__atomic-number {
  border: none;
  border-bottom: solid 3px darkgrey;
  padding-left: 0.4em;
}
.content__data__element__box__letter {
  width: 1.7em;
  height: 1.7em;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
}
.content__data__element__box__atomic-number,
.content__data__element__box__atomic-mass {
  position: absolute;
  width: 3.6em;
  height: 1em;
  font-size: 1.5em;
  text-align: left;
}
.content__data__element__box__atomic-number {
  top: 15px;
  right: 20px;
}
.content__data__element__box__atomic-mass {
  bottom: 42px;
  right: 20px;
}
.content__data__controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.content__data__controls button,
.content__models__bohr__title button,
.content__models__quantum__title button {
  border: none;
  outline: none;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 40%;
  height: 3em;
  transition: background-color 100ms ease;
  margin-bottom: 1em;
}
.content__data__controls button:last-child {
  margin-bottom: 0;
}
.content__data__controls__btn-info {
  background-color: #486003;
  color: white;
}
.content__data__controls__btn-info:hover {
  background-color: #729909;
}
.content__data__controls__btn-clear {
  background-color: darkred;
  color: white;
}
.content__data__controls__btn-clear:hover {
  background-color: red;
}
.content__data__controls__btn-clear[disabled],
#btn_bohr[disabled],
#btn_quantum[disabled] {
  background-color: gray;
}
.content__data__controls__btn-clear[disabled]:hover,
#btn_bohr[disabled],
#btn_quantum[disabled] {
  background-color: gray;
}
.content__data__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5em;
}

.content__data__info h3 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.5em;
}
.content__data__info__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (min-width: 992px) {
  .content__data__controls button,
  .content__models__bohr__title button,
  .content__models__quantum__title button {
    font-size: 0.9em;
  }

  .content__data__element {
    height: 11rem;
  }

  .content__data__element h3 {
    font-size: 1.2em;
  }

  .content__data__element__box {
    width: 7em;
    height: 3.4em;
    justify-content: flex-start;
  }

  .content__data__element__box__letter {
    font-size: 2em;
  }

  .content__data__element__box__letter {
    margin-bottom: 0em;
  }

  .content__data__element__box__atomic-number,
  .content__data__element__box__atomic-mass {
    font-size: 1em;
  }

  .content__data__element__box__atomic-number {
    top: 0;
    right: 0;
  }

  .content__data__element__box__atomic-mass {
    bottom: 0px;
    right: 0px;
  }

  .content__data__element__box__atomic-number--header,
  .content__data__element__box__letter--header,
  .content__data__element__box__atomic-mass--header {
    font-size: 0.7em;
    left: 55px;
  }
  .content__data__element__box__letter--header {
    left: -70px;
  }

  .content__data__element__box__atomic-number--header {
    top: -20px;
  }
  .content__data__element__box__atomic-mass--header {
    bottom: -30px;
  }
}

@keyframes width_row {
  from {
    transform: translateX(-100%) rotateX(-360deg);
  }
  to {
    transform: translateX(0) rotateX(0deg);
  }
}
.content__data__info__box__row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  animation: width_row var(--animation-time-normal) ease-out;
}
.content__data__info__box__row:last-child {
  margin-bottom: 0;
}
.content__data__info__box__row__label {
  width: 25%;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 0.5em;
}
.content__data__info__box__row__value {
  width: 60%;
  height: 1.7em;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  border: dashed 3px darkgrey;
  padding: 0.3em;
  background-color: #ccb353;
}
.content__data__info__box__row__value--even {
  background-color: #f7df80;
}

@media (min-width: 992px) {
  .content__data__element {
    width: 30%;
    margin-bottom: 0em;
  }
  .content__data__controls {
    width: 15%;
    margin-bottom: 0em;
  }
  .content__data__info {
    width: 30%;
  }
  .content__data__controls button,
  .content__models__bohr__title button,
  .content__models__quantum__title button {
    width: 90%;
    height: auto;
  }
  .content__data__info__box__row__label {
    width: 40%;
    font-size: 0.75em;
  }
  .content__data__info__box__row__value {
    font-size: 1em;
    border: dashed 2px darkgrey;
  }
}

/*Estilos de Models*/
.content__models {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content__models__bohr,
.content__models__quantum {
  width: 100%;
  padding: 1em;
}
.content__models__bohr__title > h3,
.content__models__quantum__title h3 {
  font-size: 2em;
  text-transform: uppercase;
  width: 50%;
}
.content__models__bohr {
  overflow: hidden;
}
.content__models__bohr__title,
.content__models__quantum__title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content__models__bohr__title > button,
.content__models__quantum__title > button {
  width: 40%;
  color: white;
  background-color: #486003;
}
.content__models__bohr__title > button:hover,
.content__models__quantum__title > button:hover {
  background-color: #729909;
}
.content__models__bohr__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes show_header {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.content__models__bohr__header h3,
.content__models__quantum__information__header h3,
.content__models__quantum__information__operations h3 {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  font-weight: normal;
  width: 100%;
  margin-bottom: 0.5em;
  animation: show_header var(--animation-time-fast) ease-out;
}
.content__models__bohr__header__formula {
  font-size: 1.5em;
  animation: show_header var(--animation-time-fast) ease-out;
  margin-bottom: 0.5em;
}
.content__models__bohr__levels {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content__models__bohr__levels__row {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

@keyframes levels_value {
  from {
    transform: rotateX(-720deg);
  }
  to {
    transform: rotateX(0);
  }
}
.content__models__bohr__levels__row--animation {
  animation: levels_value var(--animation-time-normal) ease-out;
}
.content__models__bohr__levels__row:last-child {
  border: none;
}
.content__models__bohr__levels__row:first-child * {
  text-transform: uppercase;
  font-weight: bold;
}

.content__models__bohr__levels__row__label {
  width: 33%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: solid 1px black;
}
.content__models__bohr__levels__row__total {
  width: 33%;
  text-align: center;
  font-size: 1.5em;
  border-bottom: solid 1px black;
}
.content__models__bohr__levels__row__value {
  width: 33%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.content__models__bohr__levels__row__value--title {
  border-bottom: solid 1px black;
}
.content__models__bohr__levels__row__value--odd {
  background-color: #f7df80;
}
.content__models__bohr__levels__row__value--even {
  background-color: #ccb353;
}

@media (min-width: 992px) {
  .content__models__bohr__header h3,
  .content__models__quantum__information__header h3,
  .content__models__quantum__information__operations h3 {
    font-size: 1.2em;
  }
  .content__models__bohr__header__formula {
    font-size: 1em;
  }

  .content__models__bohr__title > h3,
  .content__models__quantum__title h3 {
    font-size: 1.3em;
  }

  .content__models__bohr__levels__row__label,
  .content__models__bohr__levels__row__total,
  .content__models__bohr__levels__row__value {
    font-size: 1em;
  }
}

.content__models__bohr__canvas,
.content__models__quantic__canvas {
  z-index: -10;
  background-color: transparent;
  margin-top: 1em;
}

@keyframes move_top {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
.content__models__quantic__canvas--box {
  margin-top: 2em;
  width: 100%;
  height: 35em;
  overflow: scroll;
  animation: move_top var(--animation-time-normal) ease-out;
}

@keyframes move_top_right {
  from {
    transform: translateX(50%) translateY(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
.content__models__bohr__canvas--box {
  margin-top: 3em;
  width: 100%;
  height: 35em;
  overflow: scroll;
  animation: move_top_right var(--animation-time-normal) ease-out;
}

@media (min-width: 992px) {
  .content__models {
    flex-wrap: nowrap;
  }
  .content__models__bohr__canvas--box {
    margin-top: 2em;
  }
}

.content__models__quantum {
  margin-top: 2em;
  overflow: hidden;
}
.content__models__quantum__information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content__models__quantum__information__header {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content__models__quantum__information__table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.content__models__quantum__information__table__row {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}
.content__models__quantum__information__table__row:first-child {
  z-index: 2;
  background-color: lightgray;
}
.content__models__quantum__information__table__col {
  font-size: 2em;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  margin: 0.2em;
  display: flex;
  min-width: 2rem;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  position: relative;
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: translateY(-1000%) rotateZ(-180deg);
  }
  to {
    transform: translateY(0) rotateZ(0deg);
  }
}
.content__models__quantum__information__table__col--table {
  z-index: 1;
  animation: rotate var(--animation-time-normal) ease-out;
}

@keyframes move_table {
  from {
    transform: translateX(500%) rotateZ(360deg);
  }
  to {
    transform: translateX(0) rotateZ(0deg);
  }
}
.content__models__quantum__information__table__col--config {
  font-size: 2em;
  border: none;
  margin: 0 .2em;
  animation: move_table var(--animation-time-normal) ease-out;
}
.content__models__quantum__information__table__col--header {
  background-color: #ccb353;
  color: black;
  border: none;
}
.content__models__quantum__information__table__col__level {
  font-size: 0.8em;
}
.content__models__quantum__information__table__col__letter {
  font-size: 0.65em;
  color: darkred;
}
.content__models__quantum__information__table__col__letter--space {
  margin-right: 11px;
}
.content__models__quantum__information__table__col__value {
  position: absolute;
  font-size: 0.4em;
  top: 3px;
  right: 1px;
}
.content__models__quantum__information__operations {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.content__models__quantum__information__operations__configuration {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding: 1em 0.5em;
}

@keyframes little_big {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.content__models__quantum__information__operations__configuration__title {
  font-size: 1.4em;
  font-weight: bold;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 2rem;
  margin: 0.2em 0.3em 0.5em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: little_big var(--animation-time-normal) ease-out;
}
.content__models__quantum__information__operations__configuration__title:before {
  content: " [";
  font-size: 1.4em;
}
.content__models__quantum__information__operations__configuration__title:after {
  content: "]=";
  font-size: 1.4em;
}
.content__models__quantum__information__operations__configuration__title--simple:after {
  content: "]";
  font-size: 1.4em;
}
.content__models__quantum__information__operations__configuration__frac--content {
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}
.content__models__quantum__information__operations__configuration__frac--card {
  width: 3em;
  min-width: 3em;
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  /*border: solid 1px black;*/
  margin: 0.2em;
  position: relative;
  overflow: hidden;
}
.content__models__quantum__information__operations__configuration__frac {
  display: flex;
}

@keyframes move_left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.content__models__quantum__information__operations__configuration__frac__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  animation: move_left var(--animation-time-fast) ease-out;
}
.content__models__quantum__information__operations__configuration__frac__label {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  animation: little_big var(--animation-time-fast) ease-out;
}
.content__models__quantum__information__operations__configuration__frac__arrows {
  display: block;
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
}

@keyframes move_arrow_top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.content__models__quantum__information__operations__configuration__frac__arrows__arrow {
  width: 3px;
  height: 30px;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 30%;
  animation: move_arrow_top var(--animation-time-fast) ease-out;
}

@keyframes move_arrow_bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.content__models__quantum__information__operations__configuration__frac__arrows__arrow--reverse {
  left: 60%;

  animation: move_arrow_bottom var(--animation-time-fast) ease-out;
}
.content__models__quantum__information__operations__configuration__frac__arrows__arrow:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 12px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: rotateZ(-90deg);
  position: absolute;
  left: -4px;
  top: -5px;
}
.content__models__quantum__information__operations__configuration__frac__arrows__arrow--reverse:before {
  content: "";
  transform: rotateZ(+90deg);
  position: absolute;
  top: 18px;
}

@media (min-width: 992px) {
.content__models__quantum {
  margin-top: 0em;
}
  .content__models__quantum__information__table__col {
    font-size: 1.5em;
    width: 2.2rem;
    height: 2.2rem;
  }

.content__models__quantum__information__table__col__value {
  font-size: 0.4em;
}


.content__models__quantum__information__operations__configuration {
  font-size: 1em;
}
}

.content__data__element__searching {
  cursor: pointer;
  height: 1.5em;
  text-decoration: underline;
  user-select: none;
  transition: transform var(--animation-time-fast) ease-out;
}
.content__data__element__searching:hover > i{
  transform: rotateY(-180deg);
}
.content__data__element__searching:hover {
  font-weight: bold;
}

@keyframes show_elements {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.content__modal__elements {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  padding: 2.2em 1em 1em 1em;
  background-color: lightgray;
  border: solid 3px darkgray;
  overflow:hidden;
  animation: show_elements var(--animation-time-fast) ease-out;
}
@keyframes hidden_elements {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.content__modal__elements--close {
  animation: hidden_elements var(--animation-time-fast) ease-out;
}
.content__modal__elements__close {
  background-color: #db3055;
  border: solid 1px #b50c31;
  padding: 3px;
  color: white;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.content__modal__elements h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.content__modal__elements__list {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.content__modal__elements__list__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  cursor: pointer;
  background-color: #949696;
  transition: background-color var(--animation-time-fast-2) ease-out;
}
.content__modal__elements__list__row:hover,
.content__modal__elements__list__row:nth-child(even):hover {
  background-color: #1b9690;
}
.content__modal__elements__list__row:nth-child(even) {
  background-color: lightgray;
}

.content__modal__elements__list__row span {
  width: 33%;
  text-align: center;
}

.content__modal__elements__list__row span:nth-child(1) {
  font-size: 2.3em;
  font-weight: bold;
}
.content__modal__elements__list__row span:nth-child(2) {
  font-size: 1.8em;
  font-style: italic;
}
.content__modal__elements__list__row span:nth-child(3) {
  font-size: 1.8em;
}

@media (min-width: 992px) {

.content__modal__elements {
  top: 20%;
  left: 30%;
  width: 20em;
  height: 20em;
}

.content__modal__elements__close {
  font-size: .8em;
}
.content__modal__elements h3 {
  font-size: .9em;
}
.content__modal__elements__list__row span:nth-child(1) {
  font-size: 1.3em;
}
.content__modal__elements__list__row span:nth-child(2) {
  font-size: .8em;
}
.content__modal__elements__list__row span:nth-child(3) {
  font-size: .8em;
}
}
